{% extends "base.html" %}

{% block content %}

<h1>Apagar: {{ fii }}</h1>

<form method="post">
    {% csrf_token %}
    <div class="row">
        <p>Tem certeza que desejas apagar?</p>
    </div>
    <div class="row w-50 mb-3">
        <img src="{{ fii.image_url }}" alt="{{ fii }}">
    </div>
    <div class="row">
        <p><strong>Código:</strong> {{ fii.codigo }}</p>
    </div>
    <div class="row">
        <p><strong>Fundo:</strong> {{fii.nome}}</p>
    </div>
    <div class="row align-items-center">
        <div class="col-6">
            <input class="btn btn-danger" type="submit" value="Apagar">
        </div>
        <div class="col-6 text-end">
            <a href="{% url 'fii:listar_fii' %}">Voltar</a>
        </div>
    </div>
</form>

{% endblock %}