{% extends "base.html" %}

{% block content%}

<h1 class="mb-4">Operação: {{ acao }}</h1>
<form method="POST">
    {% csrf_token %}

    <div class="row">
        <div class="form-floating col-6 mb-3 mt-2 ml-auto gx-1">
            {{ form.data }}
            {{ form.data.label_tag}}
            <div class="text-danger mt-1">{{ form.data.errors}}</div>
        </div>
        <div class="form-floating form-floating col-6 mb-3 mt-2 ml-auto gx-1">
            {{ form.nr_nota }}
            {{ form.nr_nota.label_tag}}
            <div class="text-danger mt-1">{{ form.nr_nota.errors}}</div>
        </div>
    </div>

    <div class="row">
        <div class="form-floating col-6 mb-3 mt-2 ml-auto gx-1">
            {{ form.tipo }}
            {{ form.tipo.label_tag}}
            <div class="text-danger mt-1">{{ form.tipo.errors}}</div>
        </div>
        <div class="form-floating form-floating col-6 mb-3 mt-2 ml-auto gx-1">
            {{ form.preco }}
            {{ form.preco.label_tag}}
            <div class="text-danger mt-1">{{ form.preco.errors}}</div>
        </div>
    </div>

    <div class="row">
        <div class="form-floating col-6 mb-3 mt-2 ml-auto gx-1">
            {{ form.quantidade }}
            {{ form.quantidade.label_tag}}
            <div class="text-danger mt-1">{{ form.quantidade.errors}}</div>
        </div>
        <div class="form-floating col-6 mb-3 mt-2 ml-auto gx-1">
            {{ form.custos }}
            {{ form.custos.label_tag}}
            <div class="text-danger mt-1">{{ form.custos.errors}}</div>
        </div>
    </div>
    <div class="row align-items-center">
        <div class="col-6">
            <input class="btn btn-primary" type="submit" value='Adicionar'>
        </div>
        <div class="col-6 text-end">
            <a href="{% url 'acao:detalhes_operacoes_acao' pk=acao.id %}">Voltar</a>
        </div>
    </div>
</form>


{% endblock %}