{% extends "base.html" %}

{% block content%}
<h1>E-mail enviado!</h1>
<div class="row">
        <div class="col-6">
            <p>Enviamos um email com instruções para configurar sua senha. Se uma conta existe com o email fornecido, você receberá a mensagem em breve.</p>
        </div>
        <div class="col-6">
            <p>Se você não recebeu um email, por favor certifique-se que forneceu o endereço de email informado no cadastro e verifique sua pasta de spam.
        </div>
</div>
{% endblock %}
