{% extends "base.html" %}

{% block content %}

<h1>Apagar: {{ operacao.fii }}</h1>


<form method="post">
    {% csrf_token %}

    <div class="row mb-2 mt-3">
        <p class="fs-3"><strong>Desejas apagar esta operação?</strong></p>
    </div>
    <div class="row align-items-center mb-2">
        <div class="col-6 text-nowrap">
            <strong>Data:</strong> {{ operacao.data | date:'d/m/Y' }}
        </div>
        <div class="col-6 text-nowrap">
            <strong>Nr. da Nota:</strong> {{ operacao.nr_nota}}
        </div>
    </div>
    <div class="row align-items-center mb-2">
        <div class="col-6 text-nowrap">
            <strong>Tipo:</strong> {{ operacao.get_tipo_display }}
        </div>
        <div class="col-6 text-nowrap">
            <strong>Preço:</strong> R$ {{ operacao.preco |floatformat:2}}
        </div>
    </div>
    <div class="row align-items-center mb-2">
        <div class="col-6 text-nowrap">
            <strong>Quantidade:</strong> {{ operacao.quantidade }}
        </div>
        <div class="col-6 text-nowrap">
            <strong>Custos:</strong> R$ {{ operacao.custos |floatformat:2}}
        </div>
    </div>
    <div class="row align-items-center mb-2">
        <div class="col-6 text-nowrap">
            <strong>Custos:</strong> {{ operacao.custos |floatformat:2 }}
        </div>
        <div class="col-6 text-nowrap">
            <strong>Total da Nota:</strong> R$ {{ operacao.total_nota |floatformat:2}}
        </div>
    </div>
    <div class="row align-items-center mt-4">
        <div class="col-6 text-nowrap">
            <input class="btn btn-danger" type="submit" value="Apagar">
        </div>
        <div class="col-6 text-nowrap text-end">
            <a href="{% url 'fii:detalhes_operacoes_fii' pk=operacao.fii.id %}">Voltar</a>
        </div>
    </div>

    
</form>
{% endblock %}