{% extends "base.html" %}

{% block content%}

<h1>Detalhes:</h1>

<ul class="list-group-flush w-50">
    <il class="list-group-item pt-2 pb-2">
        <img class="img-thumbnail w-25" src="{{ fii.image_url }}" alt="Logo {{ fii.codigo }}">
    </il>
    <il class="list-group-item pb-2">Código: {{ fii.codigo }}</il>
    <il class="list-group-item pb-2">Fundo: {{ fii.nome }}</il>
    <il class="list-group-item pb-2 pt-4"><a class="btn btn-outline-success"
            href="{% url 'fii:adicionar_operacao' pk=fii.pk %}">Operar</a></il>
</ul>



<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr class="align-middle text-center">
                <th>Data</th>
                <th>Nr. Nota</th>
                <th>Tipo</th>
                <th>Preço</th>
                <th>Qtde</th>
                <th>Custos</th>
                <th>Total Nota</th>
                <th>Qtde Total</th>
                <th>$ Total</th>
                <th>PM</th>
                <th></th>
            </tr>
        </thead>
        {% if operacao_list %}
        <tbody>
            {% for operacao in operacao_list %}
            <tr class="align-middle text-center">
                <td>{{ operacao.data | date:'d/m/Y' }}</td>
                <td>{{ operacao.nr_nota }}</td>
                <td>{{ operacao.get_tipo_display }}</td>
                <td>R$ {{ operacao.preco |floatformat:2 }}</td>
                <td>{{ operacao.quantidade }}</td>
                <td>R$ {{ operacao.custos | floatformat:2 }}</td>
                <td>R$ {{ operacao.total_nota | floatformat:2 }}</td>
                <td>{{ operacao.soma_quantidade | floatformat:0 }}</td>
                <td>R$ {{ operacao.soma_total | floatformat:2 }}</td>
                <td>R$ {{ operacao.preco_medio | floatformat:2 }}</td>
                <td>
                    <a class="btn btn-outline-info" href="{% url 'fii:editar_operacao' pk=operacao.id %}">Editar</a>
                    <a class="btn btn-outline-danger" href="{% url 'fii:deletar_operacao' pk=operacao.id %}">Apagar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="row">
    <div class="col">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page=1" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item"><a class="page-link"
                        href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a></li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                {% endif %}
                <li class="page-item active"><a class="page-link" href="#">{{ page_obj.number }}</a></li>
                {% if page_obj.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a></li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </div>
    <div class="col text-end">
        <a href="{% url 'fii:listar_meus_fiis' %}">Voltar</a>
    </div>
</div>

{% else %}
</table>
</div>
<p>Não há operações cadastradas!</p>
<div class="text-end"><a href="{% url 'fii:listar_meus_fiis' %}">Voltar</a></div>
{% endif %}


{% endblock%}